<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">FREDERICK GORLAME</h1>
    </div>
    <div class="col-sm-12">
        <div id="social-container" class="text-center">
          <div class="social-individual">
            <a href="#">
              <img src="../../assets/images/facebook.png" alt="Facebook social icon">
            </a>
          </div>
          <div class="social-individual">
            <a href="#">
              <img src="../../assets/images/instagram.png" alt="Instagram social icon">
            </a>
          </div>
          <div class="social-individual">
            <a href="#">
              <img src="../../assets/images/twitter.png" alt="Twitter social icon">
            </a>
          </div>
        </div>
      </div>
  </div>
</div>
