<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
        <img src="../assets/images/gorlame.jpg" alt="The author himself">
        <p>
          Frederick Gorlame is a world renowned writer known for his work on Dagger 7, Burying Billy Beige, and Sweetwater. He had published thirty-seven works of fiction prior to his debut in screenwriting and continues to write books in between writing for award-winning television series'.
        </p>
        <p>
          Ever the accomplished linguist, Frederick has written many of his books in English and Spanish directly, without the use of a translator. English is his native tongue, and Spanish he fell in love with during his second year at Rutgers while he was learning Latin. It is his great lament that Latin has not withstood the test of time to remain a language commonly spoken, but he has decided to post an excerpt from his next release. Happy translating!
        </p>
        <p>
          <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mus mauris vitae ultricies leo integer. Nisi scelerisque eu ultrices vitae auctor eu. Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu. Porttitor leo a diam sollicitudin tempor id eu nisl. Erat nam at lectus urna duis. Urna duis convallis convallis tellus id interdum velit. Sem viverra aliquet eget sit. Ac ut consequat semper viverra nam libero justo laoreet sit. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis. A diam sollicitudin tempor id eu. Blandit cursus risus at ultrices mi tempus. Tortor condimentum lacinia quis vel. Pellentesque adipiscing commodo elit at. Urna molestie at elementum eu facilisis sed odio morbi quis. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Tincidunt augue interdum velit euismod in pellentesque massa. Nam aliquam sem et tortor consequat id porta.</i>
        </p>
        <p>
          <i>Duis tristique sollicitudin nibh sit. Nunc sed velit dignissim sodales ut eu sem integer vitae. Est sit amet facilisis magna etiam tempor orci eu lobortis. Et sollicitudin ac orci phasellus egestas tellus. Sed adipiscing diam donec adipiscing tristique. Nisl tincidunt eget nullam non nisi est sit amet facilisis. Enim praesent elementum facilisis leo vel fringilla est ullamcorper. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Odio pellentesque diam volutpat commodo. Viverra nibh cras pulvinar mattis nunc sed. Pellentesque adipiscing commodo elit at imperdiet dui. Id ornare arcu odio ut sem.</i>
        </p>
    </div>
  </div>
</div>

