/* You can add global styles to this file, and also import other style files */
body {
  background-color: #333;
  color: gainsboro;
}

.modal-header {
  background-color: #333;
}

.modal-body {
  background-color: #333;
}

.modal-content {
  background-color: #333;
}

.close {
  color: white;
}
